<ion-header>
  <ion-toolbar>

    <ion-title>
      {{ 'Settings' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" fill="clear">
        <ion-icon name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <h1>Settings</h1>

      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" fill="outline" shape="round"
          routerLink="/auth/profile/strapi" routerDirection="back">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <!-- [disabled]="settingsValid ? false : true" [color]="settingsValid ? 'success' : 'danger'" -->
        <ion-button expand="block" [fill]="'outline'" shape="round" routerLink="/home" routerDirection="forward">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>